<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>latency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>midiclock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>midithread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>midithru.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>mm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>pmjni.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>portmidi-dynamic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>portmidi-static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>qtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>sysex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>190F857516E74359BD68837E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B126A9E006B488F97F479DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F53DEB9B7A4A17859AD637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29A9B86BC4DD47B881904AE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>344A247E764F4FB396845C74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A1FA7B9A36A465DB665300F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B3DEDC473F5405EA4C36726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E96668BF69E4CA48B712341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67130333ED884B80B88586D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B08C4128673343DF8B59B97F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B808B3883DFF480195C2C109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C7A19064D442518E71401C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D7F6B992954D2BA551CDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA3A4141FB9F4A2A94DFD0EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
